<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote results</title>
    <script src="./global.js"></script>
    <script src="./lib/HTMLEscape.js"></script>
    <link  href="./global.css" rel="stylesheet"><link>
    <link  href="./voteAfterMath.css" rel="stylesheet"><link>
</head>
<body>


<div id="vote-results-box">
    <p>Total valid votes for this commune: 22.903</p>
    <table>
        <thead>
        <tr>
            <th>Party</th>
            <th>Votes</th>
            <th>Percentage of total votes</th>
        </tr>
        </thead>
        <tbody id="vote-result-table-tbody">
        </tbody>
    </table>
</div>


<script src="voteResults.js"></script>
</body>
</html>